<!DOCTYPE html>
<html>

<head>
    <title>EDGE project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header class="header">

        <a href="#" class="logo">
            <img src="{{ url_for('static', filename='images/fog.png') }}" alt="">
        </a>

        <nav class="navbar" style="text-align: center ;">
            <a href="#Intro">Choose Image</a>
            <a href="#Home">Image Classification</a>
            <a href="#About">Team</a>
        </nav>

        <div class="icons">
            <div class="fas fa-bars" id="menu-btn"></div>
        </div>

    </header>

    <br><br>

    <section class="Intro margin-intro" id="Intro">

        <h1 class="heading" style="padding:0 ;    "> <span>Choose Image</span> </h1>

        <div class="row">

            <div class="image">
                <img src="images/about-img.jpeg" alt="">
            </div>

            <div>
                <form id="upload-form" action="/" method="POST" enctype="multipart/form-data">

                    <!-- ... -->
                    <div class="mb-3">
                        <label for="file" style="font-size: 2rem; float: left; margin-left: 14px; margin-bottom: 1rem;"
                            class="form-label">Choose a photo</label>
                        <input type="file" class="form-control" name="file" id="file" onchange="previewImage();">
                        <img id="imagePreview" src="#" alt="Image Preview" class="mt-3"
                            style="width: 300px; display: none;">
                    </div>
                    <!-- ... -->

                    <button type="submit" class="btn btn-primary">Upload</button>
                </form>
            </div>

        </div>

    </section>

    <section class="Home" id="Home">

        <h1 class="heading"> <span>Image Classification</span> </h1>

        <div>
            <div class="card-grid">
                <table class="table">
                    {# <img src="{{ url_for('static', filename=image) }}" alt="Uploaded Image"> #}

                    <tr>
                        <td id="td0">
                            {# <p id="response0">En attente de la réponse du serveur 1...</p> #}

                            <p id="response0">Fog 1</p>
                            <div style="margin-top: 96px;">
                                <div id="0" class="custom-loader"></div>
                            </div>
                        </td>
                        <td id="td1">
                            <p id="response1">Fog 2</p>
                            <div style="margin-top: 96px;">
                                <div id="1" class="custom-loader"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td id="td2">
                            <p id="response2">Fog 3</p>
                            <div style="margin-top: 96px;">
                                <div id="2" class="custom-loader"></div>
                            </div>
                        </td>
                        <td id="td3">
                            <p id="response3">Fog 4</p>
                            <div style="margin-top: 96px;">
                                <div id="3" class="custom-loader"></div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </section>



    <section class="About" id="About">

        <h1 class="heading"> <span>Team</span> </h1>

        <div class="row">
            <div class="column">
                <div class="card">
                    <img src="{{ url_for('static', filename='images/zied.png') }}" alt="Zied"
                        style="width:100%; height :400px">
                    <div class="container">
                        <br>
                        <h2>Zied Dammak</h2>
                        <p class="member">Zied.dammak@enis.tn</p>
                        <br>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <img src="{{ url_for('static', filename='images/oussama.png') }}" alt="Oussama"
                        style="width:100%; height :400px">
                    <div class="container">
                        <br>
                        <h2>Oussama Tayari</h2>
                        <p class="member">oussama.tayari@enis.tn</p>
                        <br>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <img src="{{ url_for('static', filename='images/haifa.jpg') }}" style="width:100%; height :400px"
                        alt="Haifa">

                    <div class="container">
                        <br>
                        <h2>Haifa ELLEUCH</h2>
                        <p class="member">haifa.elleuch@enis.tn</p>
                        <br>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <img src="{{ url_for('static', filename='images/bilel.jpg') }}" style="width:100%; height :400px"
                        alt="bilel">

                    <div class="container">
                        <br>
                        <h2>Bilel DJEMEL</h2>
                        <p class="member">bilel.djemel@enis.tn</p>
                        <br>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        var img1 = "{{ url_for('static', filename='uploads/0.png') }}";
        var img2 = "{{ url_for('static', filename='uploads/1.png') }}";
        var img3 = "{{ url_for('static', filename='uploads/2.png') }}";
        var img4 = "{{ url_for('static', filename='uploads/3.png') }}";

    </script>


    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>